
/**
 *  Colors
 */
$black:         #272727;
$dark-blue:     #313869;
$dark-gray:     #6F6F6E;
$gray:          #ECEBE8;
$light-gray:    #f6f5f3;
$muted-gray:    #b8b8bf;
$light-orange:  #fb8686;
$orange:        #FF6C6A;
$orange-active: #D95E5D;
$white:         #FFFFFF;
$white-blue:    #999cb4;

/**
 *  Fonts
 */
$font-primary-thin: "Exo Thin", arial, sans-serif;
$font-primary-regular: "Exo Regular", arial, sans-serif;
$font-primary-medium: "Exo Medium", arial, sans-serif;

/* Base Sizes */
$desktop-width: 1280px;
$mobile-width: 420px;
$title-font-size: 24px;